{% extends 'layout.html' %}


{% block body %}
<br>
<h5><b>Science follow</b></h5>
<br>
<h6>ABOUT CONTENT</h6>
<p>This is a small project that collects and tries to analyze the articles in some of the journals with studies on children in the SJR (Scientific Journal List) in the last 5+ years (2017-2022).</p>
<p>This project contains information on <b>4888</b> articles from a total of <b>13</b> journals.<i>(Last update; Agu, 2022)</i></p> 
<p>In the selection of the journals included in the project, factors such as the focus of the journals on studies related to children and the permission to collect basic information about the articles <i>(title, year, abstract, etc.)</i>  on the web pages were taken into consideration.</p>
<p>In this context, databases such as <i>Wiley, Sagepub, ScienceDirect</i> , which are not allowed to collect data from web pages, are excluded from the scope.</p>
<br>

<h6>ABOUT CODES</h6>
<p>Mainly used <b>Python - Flask</b> framework in this website.</p>

<dl>
    <dt>Scraping & Parsing</dt>
    <dd>-requests</dd>
    <dd>-Beautiful Soup</dd>
    <dt>Database</dt>
    <dd>-MySQL</dd>
    <dt>Charts</dt>
    <dd>-ChartJS (2.9.4)</dd>
    <dt>Some Components</dt>
    <dd>-Bootstrap 4</dd>
</dl>




{% endblock body %}